@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

body {
  font-family: 'Sarabun', sans-serif;
  text-align: center;
  background-color: #fdf6f0;
  padding: 20px;
}

#certificate {
  width: 850px;
  height: 768px;
  margin: auto;
  background: url('khopparade.png') no-repeat center center;
  background-size: cover;
  padding: 60px 50px 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
}

.logo {
  width: 250px; /* เพิ่มขนาดโลโก้ */
  margin-bottom: 20px;
}

/* หัวข้อ */
h1 {
  color: #b30000;
  font-size: 2000px; /* ใหญ่ขึ้นจากเดิม */
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  color: #800000;
  font-size: 40px; /* ใหญ่ขึ้นจากเดิม */
  margin-top: 10px;
  margin-bottom: 30px;
}

/* เนื้อหากลาง */
.content {
  font-size: 35px; /* ใหญ่ขึ้นจากเดิม */
  color: #333;
  margin-top: 30px;
  line-height: 1.9;
}

/* ชื่อผู้รับ */
#nameArea {
  font-weight: bold;
  color: #cc0000;
  font-size: 50px; /* ใหญ่ขึ้นจากเดิม */
  margin: 30px 0;
  display: inline-block;
}

/* ท้ายใบ */
.footer {
  margin-top: 40px;
  font-size: 20px; /* ใหญ่ขึ้นจากเดิม */
  color: #555;
}
